@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Nanum Myeongjo", serif;
}

.parent-container {
  background: #5bb3b6;
  background: -webkit-linear-gradient(to right, #6798b4, #206c7a, #18a8c2);
  background: linear-gradient(to right, #2174a5, #1a87b3, #2daac0);
  height: 100vh;
}

.top-container {
  padding-top: 15px;
  max-width: 600px;
  background: #f0eded8c;
  height: 100vh;
}

/*TODOFORM STYLES*/

.app-title {
  font-family: "Nanum Myeongjo", serif;
  color: #299db9;
  font-size: 36px;
  border: 1px solid #0e0e0e;
  margin: 0 auto 10px auto;
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 2px rgba(0, 0, 0, 0.23);
  max-width: 400px;
}

.todo-form {
  max-width: 400px;
  margin: 15px auto 10px auto;
}

/*TODOLIST STYLES*/
.todo-list {
  margin: 0 auto 0 auto;
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 16px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease;
}

.todo:hover {
  background: #dbdbdb;
}

.todo-text {
  margin-left: 0;
}
